@import "../../style/base/colors";

.sidebarProfile {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  margin-top: 20px;
  position: relative;

  &:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
  }
}
