@import "../../style/base/colors";
@import "../../style/utilities/breakpoints";

.sidebarProfileBadge {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  position: relative;

  &__avatar {
    @media screen and (min-width: $screen-large) {
      margin-right: 10px;
    }
  }

  &__dropDown {
    &.MuiSvgIcon-root {
      z-index: 10;
      cursor: pointer;
      color: $grey;
      margin-left: auto;
      display: none;

      @media screen and (min-width: $screen-large) {
        // content-visibility: visible;
        display: flex;
      }

      &.color-blue {
        color: $twitter-color;
      }
    }
  }

  &__body {
    content-visibility: hidden;

    @media screen and (min-width: $screen-large) {
      content-visibility: visible;
    }

    &.visible-on-mobile {
      content-visibility: visible;
    }

    & > h3 {
      font-size: 15px;
      span {
        display: block;
        font-weight: 400;
        color: $twitter-grey;
      }
    }
  }
}
