@import "../../style/base/colors";

.profileTabEntry {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid $twitter-bgcolor;
  // padding-bottom: 10px;
  position: relative;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f5f8fa;
  }

  &__avatar {
    padding: 10px;
  }

  &__body {
    flex: 1;
    padding: 10px 10px 0 10px;
    img {
      border-radius: 20px;
      width: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__header {
  }

  &__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: $grey;
  }

  &__headerUsername {
    display: block;
  }

  &__headerText {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    & > h3 {
      font-size: 15px;
      margin-bottom: 5px;
      padding-right: 15px;
    }
  }

  &__button {
    &.MuiButton-root {
      height: auto;
    }
  }

  &__badge {
    &.MuiSvgIcon-root {
      font-size: 14px;
      color: $twitter-color;
    }
  }

  &__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
