@import "../../style/base/colors";
@import "../../style/utilities/breakpoints";

/* Hide scrollbar for Chrome, Safari and Opera */
.profile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.profile {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.profile {
  border-right: 1px solid $twitter-bgcolor;
  // min-width: fit-content;
  overflow-y: scroll;
  flex: 1;

  @media screen and (min-width: $screen-smamed) {
  }

  @media screen and (min-width: $screen-large) {
    flex: 0.4;
  }
}
