@import "../../style/base/colors";
@import "../../style/utilities/breakpoints";

.profileEdit {
  .MuiDialog-paper {
    width: 100%;
    max-width: 70vw;
    border-radius: 15px;

    @media screen and (min-width: $screen-smamed) {
      max-width: 600px;
    }
  }

  .MuiDialogActions-root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .MuiDialogContent-root {
    background-color: $twitter-inputbg;
    padding: 5px;
    margin: 10px;
    border-bottom: 2px solid $grey;

    &.active {
      border-bottom-color: $twitter-blue;

      .MuiFormLabel-root {
        color: $twitter-blue;
      }
    }
  }
  .MuiDialogTitle-root {
    padding: 5px;
    h2 {
      font-weight: 800;
    }
  }
  .MuiFormLabel-root {
    font-size: 12px;
  }

  .MuiInputBase-input {
    border: 0;
    background-color: transparent;
  }

  .MuiInput-underline {
    &:before,
    &:after {
      display: none;
    }
  }

  &__close {
    .MuiSvgIcon-root {
      color: $twitter-blue;
    }
  }
  &__save {
    &.MuiButtonBase-root {
      margin-left: auto !important;
    }
  }

  &__textarea {
    background-color: transparent;
    border: 0;
    resize: none;
    width: 100%;
    outline: none;
  }

  &__error {
    color: $white;
    font-weight: 800;
    background-color: $twitter-blue;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
}
