@import "../../style/base/colors";
@import "../../style/utilities/breakpoints";

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    // color: var(--twitter-color);
    color: $twitter-color;
  }

  & > .MuiSvgIcon-root {
    padding: 20px;
    text-align: center;
  }

  & > h2 {
    font-size: 20px;
    font-weight: 700;
    content-visibility: hidden;

    @media screen and (min-width: $screen-large) {
      content-visibility: visible;
      margin-right: 20px;
    }
  }

  &--active {
    color: $twitter-color;
  }
  &--demo {
    &:after {
      @media screen and (min-width: $screen-large) {
        content: "demo";
        font-style: italic;
        font-size: 10px;
      }
    }
  }

  .active & {
    color: $twitter-color;
  }
}
