@import "../../style/base/colors";

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    // color: var(--twitter-color);
    color: $twitter-color;
    transition: all 0.1s ease-in-out;
  }

  & > .MuiSvgIcon-root {
    padding: 20px;
  }

  & > h2 {
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
  }
}
