// ==========================================================================
// Colour definitions
// ==========================================================================

$black: #000;
$white: #fff;
$grey: gray;
$red: #e0245e;

$twitter-grey: #657786;
$twitter-color: #50b7f5;
$twitter-bgcolor: #e6ecf0;
