@import "../../style/base/colors";

.SearchDialog {
  .MuiList-root {
    & > * {
      border-top: 1px solid $twitter-bgcolor;
    }
  }

  .MuiPopover-paper {
    border-radius: 5px;
    overflow: visible;
  }
}
