@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin maxPageWidth {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@mixin calculateFluidFontSize($fontSize, $lineHeight, $screenLimit) {
  /* FONT SIZE */

  @if $screenLimit == 0 {
    font-size: $fontSize + px;
    line-height: $lineHeight + px;
  } @else {
    font-size: $fontSize + px;
    line-height: $lineHeight + px;
    font-size: (($fontSize / $screenLimit) * 100) + vw;
    line-height: (($lineHeight / $screenLimit) * 100) + vw;
  }
}
