@import "../../style/base/colors";
@import "../../style/utilities/breakpoints";

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar {
  border-right: 1px solid $twitter-bgcolor;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

  @media screen and (min-width: $screen-large) {
    min-width: 250px;
    flex: 0.3;
  }

  &__nav {
    & > a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__twitterIcon {
    color: $twitter-color;
    margin-left: 20px;
    margin-bottom: 20px;

    &.MuiSvgIcon-root {
      font-size: 30px;
    }
  }

  &__tweetButton {
    &.MuiButton-root {
      height: 50px;
      margin-top: 20px;

      .MuiButton-label {
        span {
          content-visibility: hidden;

          @media screen and (min-width: $screen-large) {
            content-visibility: visible;
          }
        }

        img {
          content-visibility: visible;

          @media screen and (min-width: $screen-large) {
            content-visibility: hidden;
          }
        }
      }
    }

    &__tweetButtonImg {
    }
  }
}
