@import "../../style/base/colors";

.popupMenu {
  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    padding: 15px;
    position: relative;
  }

  .MuiList-root {
    & > * {
    }
  }

  .MuiPopover-paper {
    border-radius: 15px;
    overflow: visible;
  }
}
