/* Utilities */
@import "./style/utilities/normalize";

html,
body {
  overscroll-behavior: none;
}

body {
  /* --twitter-color: #50b7f5;
  --twitter-bgcolor: #e6ef0; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
